<!-- navbar -->
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav font-weight-bold" style="font-size:18px;">
                <div class="sb-sidenav-menu-heading">Core</div>

                <div class="sb-sidenav-menu-heading">Menus</div>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Entreprise
                </a>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Patients
                </a>
                <a class="nav-link" href="">
                    <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                    Service
                </a>
            </div>
        </div>
    </nav>
</div>
<!-- navbar -->